* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header-imgs {
    padding: 30px 0;
}
.pipers-logo {
    display: block;
    margin: auto;
    max-width: 100%;
}
.pipers-logo:hover {
    cursor: pointer;
}
.unicorn-img {
    display: none;
}
.pipers-grey {background-color: rgb(150, 158, 150);}
.txt-white {color: white}
.main-pg-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#main-content {
    width: 100%;
    max-width: 800px;
    padding-top: 50px;
    margin: auto;
}


#results {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 200px;
}

#results th {
    background-color: rgb(204, 0, 1);
    color: white;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
#results tr {padding: 5px}
#results tr:nth-child(even) {background-color: rgb(236, 236, 236);}

@media only screen and (min-width: 800px) {
    .header-imgs {
        display: grid;
        grid-template-columns: 240px 435px 125px;
        padding: 30px 0;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .pipers-logo {
        padding: 10px;
        grid-column: 1;
    }
    .unicorn-img {
        display: block;
        width: 125px;
        grid-column: 3;
        margin-right: 0;
    }

    .results-cntry {
        width: 100px;
    }
    .results-detls {
        width: 200px;
    }
    

}